server {
    listen 80;
    server_name cloud.emilvinod.com;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name cloud.emilvinod.com;
    
    # SSL Configuration
    ssl_certificate /etc/ssl/certs/cloud.emilvinod.com.crt;
    ssl_certificate_key /etc/ssl/private/cloud.emilvinod.com.key;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    
    proxy_read_timeout 300s;
    proxy_send_timeout 300s;

    
    root /var/www/pincerna;
    index index.html;
    location = / {
        return 302 /cloud/;
    }
    location /cloud/ {
        try_files $uri $uri/ /cloud/index.html;
    }

    
    location /cloud/api/ {
        proxy_pass http://127.0.0.1:5002/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_buffering off;
    }

    location = /cloud/pincerna.svg { try_files /cloud/pincerna.svg =404; }
}

